<%= form_for message, remote: true, authenticity_token: true do |f| %>

	<% unless @chatroom.member?(current_user) %>
		<div class="field">
		  <%= f.text_area :content, rows: "3", data: {textarea: "message"}, placeholder: "Join the chatroom to type your message!", disabled: true %>
		</div>
	<% else %>
		<div class="field">
		  <%= f.text_area :content, rows: "3", data: {textarea: "message"}, placeholder: "Type your message..." %>		
		</div>
	<% end %>

  <%= f.hidden_field :chatroom_id, value: chatroom.id %>
  <%= f.submit "send", data: {send: "message"} %>
<% end %>
