<div class="event">
	<div class="label">

		<% if message.user.avatar.blank? %>
      <%= image_tag("default.svg", class: "ui tiny image") %>
    <% else %>
      <%= image_tag(message.user.avatar.thumb) %>
    <% end %>

	</div>
	<div class="content">
		<div class="summary">
			<div class="user"><%= message.user.full_name %></div>
			<div class="date"><%= time_ago_in_words(message.created_at) %> ago</div>
		</div>
		<div class="extra text"><%= message.content %></div>
	</div>
</div>
