<div class="ui segment">
 	<div class="chat-header">
		<% if @chatroom.is_direct_message? %>
			<h3>About this conversation </h3>
		<% else %>
			<h3>About <%= @chatroom.title %> </h3>
		<% end %>
    <% unless @chatroom.is_direct_message? || @chatroom.admin?(current_user) %>
		  <div class="ui left pointing dropdown icon button">
				<i class="settings icon"></i>
		  <div class="menu">

						<% unless @chatroom.member?(current_user) %>
						 <div class="item">
							<%= link_to memberships_users_path(@chatroom.id), method: 'post' do %>
								<%= fa_icon "plus" %> Join Chat
							</div>
							<% end %>
						<% else %>
						<div class="item">
							<%= link_to membership_destroy_path(@chatroom.id), method: 'delete' do %>
								<i class="delete icon"></i> Leave
							</div>
							<% end %>
						<% end %>
			      </div>
		    </div>
    <% end %>
	</div>

	<div class="ui divider"></div>

	<div class="ui container">
		<h4>
			Chatroom Details:
		</h4>
		<% if @chatroom.is_direct_message? %>
			<p>This is a direct message.</p>

		<% else %>
			<p><%= @chatroom.description %></p>
		<% end %>
    <br>
    <strong> Members: </strong>
    <% @users.each do |user| %>
      <% if user.member?(@chatroom) %>
        <p><%= user.first_name %></p>
      <% end %>
    <% end %>
	</div>
</div>
