<div class="">
	<h3 class="nav-title">Your Chatrooms
		<%= link_to new_chatroom_path do %>
		<%= fa_icon "plus" %>
		<% end %>
	</h3>

	<div class="ui vertical pointing menu">

		<% current_user.chatrooms.each do |room| %>
		<% unless room.is_direct_message? %>

		<% if current_page == room.id %>
		<div class="active item">
			<%= link_to room.title, chatroom_path(room) %>
			<% if room.admin?(current_user) %>
			<div class="ui label"><%= link_to edit_chatroom_path(room) do %>
				<%= fa_icon "pencil" %>
				<% end %>
			</div>
			<% end %>
		</div>

		<% else %>
		<div class="item">
			<%= link_to room.title, chatroom_path(room) %>
			<% if room.admin?(current_user) %>
			<div class="ui label"><%= link_to edit_chatroom_path(room) do %>
				<%= fa_icon "pencil" %>
				<% end %>
			</div>
			<% end %>
		</div>
		<% end %>
		<% end %>
		<% end %>
	</div>
</div>
