<h1><%= @user.first_name %> <%= @user.last_name %></h1>
<h3><%= @user.username %></h3>

<%= image_tag("soundwave.jpg") %>

<p><%= @user.biography %></p>
<p><%= @user.email %></p>





<% if @user.id == current_user.id %>
  <%= link_to 'Edit Profile', edit_user_registration_path %>
<% else %><% end %>
