<header>
  <div class="ui container">
    <div class="ui stackable grid">
      <div class="four wide column">
       <h1> <%= image_tag("cat.png", class: "chatcat") %> <%= link_to 'Le Chat Meow', root_path, class: "logo" %></h1>
      </div>

      <nav class="ten wide column">
        <div class="ui secondary menu">
          <% if user_signed_in? %>            

            <div class="ui right dropdown item">
              <%= current_user.first_name %>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item">
                  <%= link_to 'Profile', user_path(current_user.id) %>
                </div>
                <div class="item">
                  <%= link_to 'Settings', edit_user_registration_path %>
                </div>
                <div class="item">
                  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
                </div>
              </div>
            </div>
          <% else %>
            <%= link_to 'Log In', new_user_session_path, class: "item" %>
            <%= link_to 'Sign Up', new_user_registration_path, class: "item" %>
          <% end %>
        </div>
      </nav>
    </div>
  </div>
</header>
