<!DOCTYPE html>
<html>
  <head>
    <title>Wehuddle</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'layouts/header' %>

      <div class="ui container">
        <br>
        <% flash.each do |name, msg| %>
          <div class="alert <%= name == 'error' ? 'alert-danger' : 'alert-info' %>">
            <div class="container">
              <em><%= msg %></em>
            </div>
          </div>
        <% end %>
        <br>
      </div>

      <div class="ui container">
        <%= yield %>
      </div>

      <%= render 'layouts/footer' %>
  </body>
</html>
