<!DOCTYPE html>
<html>
  <head>
    <title>le Chat Meow</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'layouts/header' %>

      <div class="main ui container">

        <% flash.each do |name, msg| %>
          <div class="ui <%= name == 'error' ? 'negative' : 'info' %> message">
            <i class="close icon"></i>
              <p><%= msg %></p>
          </div>
        <% end %>

        <%= yield %>

      </div>

      <%= render 'layouts/footer' %>
  </body>
</html>
